@import '../styles/variable.scss';

.contentWrapper{
  display: grid;
  grid-template-rows: 80px 1fr;
  background: $bodayBackground;
}
.container{
  display: grid;
  grid-template-columns: 80px 1fr;
}
.containerFluid {
  display: grid;
  grid-template-columns: 256px 1fr;
}
.sideNavWrapper{
  // height: 100vh;
  // padding: 0px 8px;
  // z-index: 2;
}
.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.smallLogo {
  text-align: center;
  margin: 1rem auto 2.5rem;
  img {
    width: 45px;
  }
}

.menus {
  background: $primary; 
  height: 100vh;

  padding: 10px;
  ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    div {
      letter-spacing: 0.3px;
      color: #d4d9ff;
      font-size: 10px;
      padding: 9px 0 7px;
      line-height: 12px;
      cursor: pointer;
      span {
        letter-spacing: 0px;
        color: #d4d9ff;
        font-size: 18px;
      }
      p {
        margin: 0px 0px 0px 10px;
        font-size: 10px;
      }
    }
    div.active {
      background: $activeMenu 0% 0% no-repeat padding-box;
      border-radius: 9px;
      color: #fff;
      span {
        color: #fff;
      }
    }
    div.inActive {
      background: red 0% 0% no-repeat padding-box;
      border-radius: 9px;
      color: #fff;
      span {
        color: #fff;
      }
    }

    li {
      letter-spacing: 0.3px;
      color: #d4d9ff;
      font-size: 10px;
      margin: 0rem 0 0.5rem;
      padding: 9px 0 7px;
      line-height: 12px;
      cursor: pointer;
      span {
        letter-spacing: 0px;
        color: #d4d9ff;
        font-size: 22px;
      }
      p {
        margin: 0px 0px 0px 10px;
        font-size: 10px;
      }
    }
    
    li.active {
      background: $activeMenu 0% 0% no-repeat padding-box;
      border-radius: 9px;
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
}

.logout{
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  font-size: 22px;
}



// logout left sidebar

.mainprofile {
  text-align: center;
  position: absolute;
  bottom: 3rem;
  // width: 100%;
  left: 1rem;
}
.mainprofile img.mainpro {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.nohidemenu {
  transition: all 10s ease 15s;
}

.profilehoverdiv {
  bottom: 5.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  left: 0rem;
  width: 196px;
  height: 372px;
  // position: fixed;
  z-index: 1000;
  text-align: left;

 
  p.titilebgclr {
    background: #3a48a5 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    padding: 9px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    span {
      font-size: 11px;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 0.59;
      display: block;
    }
  }
  ul {
    list-style: none;
    /* margin: 0px; */
    padding: 0px;
    margin-top: 5px;
    li {
      padding: 2px 0px 0px;
      line-height: 30px;
      cursor: pointer;
      padding-bottom: 3px;
      font-size: 13px !important;
      text-align: left;
      &.brbtm {
        border-bottom: 1px solid #f2f5f9;
      }

      .mb1,
      .my1 {
        margin-bottom: 0.25rem !important;
      }
      span {
        margin: 0px 8px;
        font-weight: 500;
        vertical-align: middle;
        font-size: 18px;
      }
      span.dotround.green {
        padding: 4px;
        display: inline-block;
        border-radius: 5px;
        position: relative;
        top: -2px;
        margin-left: 11px;
      }
      .green {
        background: #16cf16;
      }
      .prorightarrow {
        float: right;
        padding-top: 5px;
        color: #000000;
        font-weight: 500;
        font-size: 14px !important;
      }
      &:hover {
        background: #f2f5f9 0% 0% no-repeat padding-box;
      }
      &:hover .statusactivedropdown {
        display: block;
      }
      .statusactivedropdown {
        position: absolute;
        top: 0;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 5px;
        left: 10rem;
        width: 145px;
        height: 145px;
        right: 0;
        display: none;
        z-index: 1000;
        ul li:hover {
          background: #f2f5f9 0% 0% no-repeat padding-box;
        }
        ul li {
          line-height: 25px;
          padding-bottom: 0px;
          cursor: pointer;
          span.dotround {
            padding: 4px;
            border-radius: 50%;
            border: 1px solid #fff;
            font-size: 0px;
          }
        }
        .yellow {
          background: #f0ae2e;
        }
        .orange {
          background: #ff8000;
        }
        .invisibleclr {
          background: #dfc51d;
        }
        .Offlineclr {
          background: #969696;
        }
        .tickright {
          float: right;
          color: #1f76d5;
          font-weight: 600;
          padding-top: 4px;
        }
      }
      .brbtm.workremote {
        padding-top: 0px !important;
      }
      .sharestatus {
        font-size: 11px !important;
        color: #000 !important;
        opacity: 0.7;
        display: block;
        padding-left: 8px;
      }
      span img {
        margin-top: -3px !important;
      }
      &:hover .workingremotedropdown {
        display: block;
      }
      .workingremotedropdown {
        position: absolute;
        top: 0rem;
        right: 0;
        left: 10rem;
        width: 190px;
        height: 210px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 5px;
        display: none;
        z-index: 1;
        ul li {
          padding-top: 7px;
        }
        .tickright {
          float: right;
          color: #1f76d5;
          font-weight: 600;
          padding-top: 4px;
        }
      }
      &:hover .helpdropdown {
        display: block;
      }
      .helpdropdown {
        position: absolute;
        top: 0rem;
        right: 0;
        left: 10rem;
        width: 139px;
        height: 113px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 5px;
        display: none;
        ul {
          list-style: none;
          /* margin: 0px; */
          padding: 0px;
          margin-top: 5px;
        }
        li {
          padding: 5px 15px 0px;
          line-height: 26px;
          cursor: pointer;
          padding-bottom: 6px;
          span {
            font-size: 13px;
            /* padding-left: 0px; */
            margin-left: 0px;
          }
        }
      }
      &.redclr {
        color: #ff0000de !important;
      }
    }
    .statusdiv {
      position: relative;
    }
    .helpdw {
      position: relative;
    }
    .workremote {
      position: relative;
    }
  }
}

@media (max-width: 1399px) {
  .mainprofile {
    bottom: 2.2rem;
  }
  .mainprofile img.mainpro {
    width: 40px;
    height: 40px;
  }
}